<div class="row">
  <h2 class="section_title">
    <%= t "common.all_shops" %>
  </h2>
</div>
<div class="col-md-12 magin_top_10px" id="id_shops_list">
  <%= render @shops %>
</div>
<%= paginate @shops %>
