<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "order_products", order_products: order.order_products %>
      <div class="pull-right">
        <h4>
          <b><%= t "oder.total" %></b>
          <%= @cart.total_price %> <%= t"cart.vnd" %>
        </h4>
      </div>
    </div>
  </div>
</div>
