<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "order_products",
        order_products: order.order_products.where(user: current_user) %>
      <div class="pull-right">
        <h4>
          <b><%= t "oder.total" %></b>
          <%= format_price (order.total_pay_user current_user) %>
        </h4>
      </div>
    </div>
  </div>
</div>
