<div class="page-content">
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>

        <div class="panel panel-default">
          <div class="panel-body">
            <strong><%= t"oder.status" %></strong>
            <span class="label label-warning"><%= order.status %></span>
            <% if order.pending? %>
              <%= link_to t("oder.btn_cancel_oder"), order_path(order, shop_id: order.shop_id),
                method: :delete, class: "btn btn-xs btn-danger pull-right" %>
            <% end %>
          </div>
        </div>
        <%= render "list", order: order %>
      <% end %>
    </div>
  </div>
</div>
