.product {
  border: 1px solid #bbb;
  margin-bottom: 20px;
}
.content {
  padding-bottom: 0 !important;
}
.title{
  color: #F26D00;
  font-weight: bold;
}
.price {
  font-weight: bold;
}
.content img {
  width: 100%;
}
.display_hide{
  display: none;
}
