@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300";

.home-body {
  padding-top: 60px;
  padding-bottom: 50px;
}

.magin {
  margin-top: 10px;
  margin-left: 60px;
}

.common {
  .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #555;
  }

  .text-center {
    text-align: center;
  }

  .margin-top-50 {
    margin-top: 50px;
  }

  .color-gray {
    background-color: #ddd;
  }

  .table-image-size {
    width: 60px;
    height: 60px;
  }

  .width-80 {
    width: 80px;
  }
}

.main-footer {
  display: none;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin_right {
  margin-right: 60px;
}

.row_h2 {
  background: url(header_bg.png) #ff5722;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.margin_right_15px {
  margin-right: 15px !important;
}

.text_right {
  text-align: right;
}

.height_search_box {
  height: 65px;
}

.margin_top_15px {
  margin-top: 14px !important;
}

.margin_top_-30px {
  margin-top: -30px;
}

.margin_top_5px {
  margin-top: -5px;
  font-size: 20px;
}

.padding_0 {
  padding: 0 !important;
}
