@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300";

.home-body {
  padding-top: 60px;
  padding-bottom: 50px;
}

.magin_top_10px {
  margin-top: 10px;
}

.common {
  .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #555;
  }

  .text-center {
    text-align: center;
  }

  .margin-top-50 {
    margin-top: 50px;
  }

  .color-gray {
    background-color: #ddd;
  }

  .table-image-size {
    width: 60px;
    height: 60px;
  }

  .width-80 {
    width: 80px;
  }
}

.main-footer {
  display: none;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}
