.notification-title{
  border-bottom: 1px solid #eef;
}
.notification-body{
  border-bottom: 1px solid #eef;
  .message-notification{
    margin-top: 15px;
  }
}
#notification_count {
  position: absolute;
  top: -2px;
  left: 25px;

  background-color: green;
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 10px Verdana;
}

.unread {
  background-color: #E1E3E9;
}
