.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

li.search-item {
  height: 75px;
  &:hover {
    background-color: #ecf0f1;
    cursor:pointer;
  }
}

#livesearch {
  a {
    color: #66757f;
  }
}

.search-item-image {
  img {
    height: 50px;
    width: 50px;
    border-radius: 4px;
  }
}
