//colors
$concrete: #f2f2f2;
$white: #ecf0f1;
$gallery: #efefef;

%extend_1 {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.25s;
}

%extend_2 {
  position: relative;
  display: block;
  clear: both;
  margin: 10px auto;
  height: 1px;
  width: 100%;
  border: none;
  background-color: $gallery;
}

%extend_3 {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  background-color: transparent;
  transition: 0.5s;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

.unit7 {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 58.33333%;
}

*[class^="unit"] {
  @extend %extend_1;
}

*[class*="unit"] {
  @extend %extend_1;
}

.pad-50 {
  padding: 50px;
}

.m-panel {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--nospace {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--inverted {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--default {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--success {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--warning {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--danger {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--green {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--black {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--cloud {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.m-panel--white {
  border-radius: 4px;
  border: 1px solid $concrete;
  background-color: $white;
}

.bg-eb-white {
  background-color: $white;
}

.o-fig__detail {
  background-color: $white;
}

.a-divider--hidden {
  background-color: transparent;
  @extend %extend_2;
}

.a-divider {
  @extend %extend_2;
}

hr {
  @extend %extend_2;
}

.a-divider--section {
  @extend %extend_2;
}

.a-divider--fit {
  @extend %extend_2;
}

.a-divider--inverted {
  @extend %extend_2;
}

.bordered {
  border: 1px solid $concrete;
}

.m-dropdown {
  border: 1px solid $concrete;
}

.m-dropdown--left {
  border: 1px solid $concrete;
}

.m-dropdown--right {
  border: 1px solid $concrete;
}

.o-fig {
  border: 1px solid $concrete;
  border-radius: 4px;
}

.rounded {
  border-radius: 4px;
}

.m-modal__content {
  border-radius: 4px;
}

.unit5 {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 41.66667%;
}

.m-panel__header {
  min-height: 60px;
  padding: 20px 50px;
}

.m-panel__content {
  border-top: 1px solid $concrete;
  padding: 30px 50px;
}

img {
  @extend %extend_3;
  border: 0;
}

.a-img {
  @extend %extend_3;
}

.img-circle {
  @extend %extend_3;
}

.a-img--circle {
  @extend %extend_3;
}

.a-img--rounded {
  @extend %extend_3;
}

.a-img--bordered {
  @extend %extend_3;
}
