<% provide :title, t("common.all_products") %>
<div class="row">
  <h2 class="section_title">
    <%= t "common.all_products" %>
  </h2>
</div>
<div class="col-md-12 magin_top_10px" id="id_products_list">
  <%= render @products %>
</div>
<%= paginate @products %>
