<footer>
  <div id="footer_content">
    <h3>
      <%= t "common.base_title" %>
      <span class="pull-right"><%= t "language" %>
        <%= link_to_unless I18n.locale == :en, t("english"), set_language_update_path(locale: :en) %> |
        <%= link_to_unless I18n.locale == :vi, t("vietnam"), set_language_update_path(locale: :vi) %>
      </span>
    </h3>
  </div>
</footer>
