<div class="dv-star-rating dv-star-rating-non-editable" style="display: inline-block; position: relative;">
  <label class="dv-star-rating-star" for="averageRating_5"
    style="float: right; color: rgb(231, 231, 231);">
    <i class="fa fa-star"></i>
  </label>
   <label class="dv-star-rating-star" for="averageRating_4"
     style="float: right; color: rgb(231, 231, 231);">
     <i class="fa fa-star"></i>
  </label>
    <label class="dv-star-rating-star" for="averageRating_3"
      style="float: right; color: rgb(231, 231, 231);">
      <i class="fa fa-star"></i>
  </label>
    <label class="dv-star-rating-star" for="averageRating_2"
      style="float: right; color: rgb(231, 231, 231);">
      <i class="fa fa-star"></i>
  </label>
    <label class="dv-star-rating-star" for="averageRating_1"
      style="float: right; color: rgb(231, 231, 231);">
      <i class="fa fa-star"></i>
  </label>
</div>
